// font size
$h1-font-size:                  28px;
$h2-font-size:                  25px;
$h3-font-size:                  22px;
$font-size-base:                14px;
// font weight
$font-bold :                    700;
$font-semibold:                 600;

